<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ApplicationDbEntities" connectionString="IJ4LCLuDbVuzlqbeaUys4i01kDDO67sfKbWoo74XbES3VG1vhlXFSnCu6VZP2sbkOeAvPNwh6U1Hwy124glOvcaItEivdmQhBc35X8PcquLLr4sgSzI4MJG1NYFcUc35Iru+BTrJymT3lmfdqpkxLDJ4U04fPwV4iKx1XuHsKOOQl87JTzTY9DQya7olqLzbyQyxtvwmxV4Z9iOKYVZm0DshOxQQFMdJx6ASfnnm+wW+z9K1qv6Co3QW2HgxMgXs6Dd7MNUCpW9xHLtweDeUkHP6ylL7CSymoTebmHlZhwS3eLhN9IrPQ4GBCW8ZjV4M/OvVLHzqqa2hE7t1Gy+wz+/8fOHlGLgERjgIvQA0y2x+lvx/OPu/SyaLTv/wzwo3" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>