<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2013</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <connectionStrings>
    <!--192.168.1.201-->
    <!--<add name="ApplicationDbEntities" connectionString="IJ4LCLuDbVuRH7UNPrwGV6UZnhOVlgqNv4gKjokFJId6otvlz/yCC8ZMaoze/cBw1m0sm0zNaA67aggG5aM8BgaVr6m5EZ6LYV8BWDUYsELb/hKztjhbB3/xomldUD0WDE2iGD3GedZiahvQCKBuXDIrrJCYvcwo3AV6L5hH/gPKhf8OS1ACPxb8MRbEZb7d0PcoLWvh8OwWV3by+HAaORruwNVaND0Oz+qni4e0n5kdRkZLfPpj3+Dqt5Cys6Pzyq2wDsdpZggLRBlw1el2lzUzgz2dueYHGeNuJwGYYkj1wguwo/QcqBtLah/lD+/ITcy2JK6lXRS4kt3yqPIH7XtYeMo7GwVSSytCzWFWiCA7CGy+wV98Km2x4OyP05UAR2eZn/cFfh+0lg0yHvlmkg==" providerName="System.Data.EntityClient"/>-->
    
    <!--midifty 2016年7月30日20:53:56-->
    <!--<add name="ApplicationDbEntities" connectionString="IJ4LCLuDbVuRH7UNPrwGV6UZnhOVlgqNv4gKjokFJId6otvlz/yCC8ZMaoze/cBw1m0sm0zNaA67aggG5aM8BgaVr6m5EZ6LYV8BWDUYsELb/hKztjhbB3/xomldUD0WDE2iGD3GedZiahvQCKBuXDIrrJCYvcwo3AV6L5hH/gPKhf8OS1ACPxb8MRbEZb7dGDzlh0V9Dki84v6RJqn1h/bJ+GpO6VksegjdD1rJSMexf6NTovFLIcopztsiZkBeFAMjeFgiv3OoZB58ARLiQSIY09kHTXNo0ZmFwo4WTY20W/peX6FoVCmZx8tVb1ptdPZ4F7bn5FtmAU1HqC7kNppJnGux5xj85Vd3vSyfLpPFIKbS4CKZFQdU+QRGNxUN" providerName="System.Data.EntityClient"/>-->
    <!--新版配置文件修改为ApplicationDbContext-->
    <add name="ApplicationDbContext" connectionString="d0Pum688+uriiW5oa/oW8jSiCd1FaLpggeWt3SYp2B+q/NNiq5t3XxSXGDjsDYSAwif2/RabkYi72UjdrQBpEkRBOSXe4b991ZRSCLEEzV0UrNLmSi2Wk6LAXobHLS9RA/nTNRsTYWfkMG514fUUAlkgPk6LOvAgfcY/auc0Dqk=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
