<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ApplicationDbEntities" connectionString="IJ4LCLuDbVuzlqbeaUys4i01kDDO67sfKbWoo74XbES3VG1vhlXFSnCu6VZP2sbkOeAvPNwh6U1Hwy124glOvcaItEivdmQhBc35X8PcquLLr4sgSzI4MJG1NYFcUc35Iru+BTrJymT3lmfdqpkxLDJ4U04fPwV4iKx1XuHsKOOQl87JTzTY9DQya7olqLzbyQyxtvwmxV4Z9iOKYVZm0DshOxQQFMdJx6ASfnnm+wW+z9K1qv6Co3QW2HgxMgXs6Dd7MNUCpW9xHLtweDeUkHP6ylL7CSymoTebmHlZhwS3eLhN9IrPQ4GBCW8ZjV4M/OvVLHzqqa2hE7t1Gy+wz+/8fOHlGLgERjgIvQA0y2x+lvx/OPu/SyaLTv/wzwo3" providerName="System.Data.EntityClient" />
    <add name="ApplicationDbContext" connectionString="d0Pum688+uriiW5oa/oW8jSiCd1FaLpggeWt3SYp2B+q/NNiq5t3XxSXGDjsDYSAwif2/RabkYi72UjdrQBpEkRBOSXe4b991ZRSCLEEzV0UrNLmSi2Wk6LAXobHLS9RA/nTNRsTYWfkMG514fUUAlkgPk6LOvAgfcY/auc0Dqk=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>